<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<title>Hologram News</title>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script type="text/javascript" src="../../assets/javascript/global.js"></script>
	<link rel="stylesheet" href="../../assets/css/style.css">

  </head>
  <body>
    {{{ body }}}
  </body>
</html>
