<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  			<script type="text/javascript" src="app.js"></script>
		<title>Let's play games!</title>
	</head>
	<body>
		<p>
			{{#unless logged_in}}
				<a href="/user/sign-in">Sign In</a>
				<a href="/user/sign-up">Sign Up</a>
			{{/unless}}

			{{#if logged_in}}
				Welcome {{username}}! <br>
				<a href="/user/sign-out">Sign Out</a>
			{{/if}}
		</p>
		{{{ body }}}
	</body>
</HTML>
