<div id="city">

  <h1>Hologram News Cube</h1>


  <div id="input-area">
    <textarea id="input-box" rows="4" cols="50"></textarea>
    <div id="note-button">
      <img src="../../assets/images/save.png" class="button">
    </div>
  </div>

  <div id="saved-area">
    <textarea readonly id="note-box" rows="4" cols="50"></textarea>
    <div id="delete-button">
      <img src="../../assets/images/trash.png" class="button">
    </div>
  </div>

  <section class="container">
    <div id="headline"></div>
    <div id="cube">
      <figure class="front">
        <div id="face-color"></div>
      </figure>
      <figure class="back">
         <div id="face-color"></div>
      </figure>
      <figure class="right">
         <div id="face-color"></div>
      </figure>
      <figure class="left">
         <div id="face-color"></div>
      </figure>
      <figure class="top">
         <div id="face-color"></div>
      </figure>
      <figure class="bottom">
         <div id="face-color"></div>
      </figure>
    </div>
  </section>


  <div id="seek-box"></div>
</div>
