    body{
      /*background-color: #DECADE*/
      background-color: #F2F6D0
    }
    #wrapper{
      width:960px;
      margin: 0 auto;
      padding-top: 5%;
    }
    #articles{
      width:60%;
      height:700px;
      display:inline-block;
      overflow: auto;
    }
    #notes{
      width:30%;
      float:right;
    }
    textarea, input{
      display:block;
      width:100%;
      background-color: #FCF5C7;
    }
    input{
      height:36px;
      font-size: 24px;
    }
    textarea{
      height:200px;
      font-size: 18px;
    }
  </style>